<h1 class="text-center m-3">new review</h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <div class="btn btn-primary"><%=f.button :submit %></div>
<% end %>
